@page "/CasesList"
@using ElevatorMobileApplication.Models
@using ElevatorMobileApplication.Services;
@inject ICaseService CaseService;
@inject NavigationManager Navigation

<h3>Assigned Cases</h3>
@if (MyCases == null)
{
    <p>Loading . . .</p>
}
else
{
<ul>
    @foreach (var item in MyCases)
    {
            <li><a @onclick="() => Navigera(item.Id)">@item.Name</a></li>
    }
</ul>
}
@code {
    List<Case> MyCases = new List<Case>();

    void Navigera(int id)
    {
        Navigation.NavigateTo($"/CaseDetailsPage/{id}");
    }

    protected override async Task OnInitializedAsync() 
    {
        var allCases = await CaseService.GetCasesAsync();

        var user = SecureStorage.Default.GetAsync("username").Result;

        foreach (var item in allCases)
        {
            if (item.Technician.Name == user && item.Status != "Resolved")
            {
                MyCases.Add(item);
            }
        }
    }
}
